.pathNode {
  position: relative;

  &.selected {
    z-index: 1000;
  }
}

.pathContainer {
  position: relative;
  cursor: default;

  &:hover {
    .pathNode:not(.selected) & {
      outline: 1px solid rgba(59, 130, 246, 0.3);
    }
  }
}
